<!DOCTYPE html>
<html>
    <head> 
        <link rel='stylesheet' href="./css/styles.css">
        <link rel='icon' href="/img/weather.png">
    </head>
    <title> 404!</title>
    <body>
        <div class="main-content">
            {{>header}}
            <p> My 404 page!</p>
            {{errorMessage}}
        </div>
        
        {{>footer}}
    </body>
</html>